@keyframes searchlight{
  from{
    background-color:rgba(254,84,57,0);
  }
  to{
    background-color:rgba(254,84,57,1);
  }
}

@font-face {
  font-family: Dosis-Light; 
  src: url('Dosis-Light.ttf');
}

.topbar{
	width:100%;
	height:50px;
	box-shadow: 0px 0px 12px rgba(170,170,170,.5);
	background-color: rgba(255,255,255,1);
	position:absolute;
	left:0px;
	top:0px;
	padding-left:20px;
	padding-top:13px;
	opacity:1;
    transition: 0.5s;
    z-index:999;
    overflow:hidden;
}

.logotext{
	font-family:"Dosis-Light";
	font-size: 16px;
	color:rgba(128,128,128,1);
    transition: 0.5s;
}
.logotext:hover{
	color:rgba(0,0,0,1);
}

.psselect{
	width:150px;
	height:24px;
	background-color:rgba(242,242,242,1);
	border:none;
	position:absolute;
	right:20px;
	appearance:none;
	-webkit-appearance: none;
	-moz-appearance: none;
    transition: 0.5s;
    padding-left: 10px;
	font-family:"Dosis-Light";
    font-size: 12px;
	color:rgba(128,128,128,1);
}

.psselect:hover{
	box-shadow: 0px 0px 12px rgba(170,170,170,.5);
}

.centerdiv{
	width:70%;
	padding:25px;
	background-color:rgba(242,242,242,1);
	border-radius:20px;
	line-height:30px;  
	margin-left:15%;
	margin-right:15%;
	text-align:center;
}

.titletext{
	font-family:"Dosis-Light";
	font-weight:bold;
	font-size: 20px;
	color:rgba(32,32,32,1);
    transition: 0.5s;
}
.titletext:hover{
	color:rgba(0,0,0,1);
}

.contenttext{
	font-family:"Dosis-Light";
	font-size: 14px;
	color:rgba(96,96,96,1);
    transition: 0.5s;
}
.contenttext:hover{
	color:rgba(64,64,64,1);
}

.hightext{
	font-family:"Dosis-Light";
	font-size: 14px;
	border-radius:4px;
	padding-left:14px;
	padding-right:14px;
	padding-top:3px;
	padding-bottom:3px;
	margin-left:5px;
	margin-right:5px;
	background-color:rgba(225,225,225,1);
	color:rgba(70,70,70,1);
    transition: 0.5s;
}
.hightext:hover{
	background-color:rgba(103,215,205,1);
	color:rgba(255,255,255,1);
}

.linktext{
	font-family:"Dosis-Light";
	font-weight:bold;
	font-size: 14px;
	color:rgba(254,84,57,.8);
}
.linktext:hover{
	color:rgba(254,84,57,1);
}
.linktext:visited{
	color:rgba(70,70,70,1);
}

.stepimg{
	border-radius: 30px;
	width:40%;
	box-shadow: 0px 0px 12px rgba(170,170,170,.5);
	margin-left:30%;
	margin-right:30%;
	margin-top:15px;
	margin-bottom:15px;
	transition: 0s;
	transition: 0.5s;
}
.stepimg:hover{
	border-radius: 0px;
	box-shadow: 0px 0px 12px rgba(170,170,170,1);
	width:80%;
	margin-left:10%;
	margin-right:10%;
	transition: 0.5s;
}

.table {
	font-family:"Dosis-Light";
	background: rgb(255,255,255);
	border-radius: 12px;
	border: none;
	color: rgb(96,96,96);
	text-align: center;
	font-size: 14px;
	transition: all 0.5s;
	margin: 5px;
	box-shadow: 0px 0px 16px rgba(27,27,27,.3);
	opacity: 0.7;
	width:60%;
	overflow:hidden;
}
.table:hover {
  box-shadow: 0px 0px 16px rgb(0,176,240,.5);
  transition: all 0.5s;
  opacity: 1;
 }
.table tr {
  border:none;
  border-color: rgb(220,220,220);
 }
.table td {
  padding: 8px;
  transition: all 0.5s;
  color:rgb(27,27,27);
 }
.table td:hover {
  background: rgb(249,249,249);
  padding: 8px;
  transition: all 0.5s;
  color:rgb(0,176,240);
 }
.table td:active {
  background: rgba(244,81,30,1);
  color:rgb(255,255,255);
  padding: 8px;
  transition: all 0.5s;
 }